@{
    Layout = "~/Areas/Admin/Views/Shared/_Layoutadmin.cshtml";
}
@model Blogcongnghe.Areas.Admin.Models.StoreContext
<header id="header" class="header fixed-top d-flex align-items-center">
    <div class="d-flex align-items-center justify-content-between">
        <i class="bi bi-list toggle-sidebar-btn"></i>
    </div>
    <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">
            <li class="nav-item d-block d-lg-none">
                <a class="nav-link nav-icon search-bar-toggle " href="#">
                    <i class="bi bi-search"></i>
                </a>
            </li>
            <li class="nav-item dropdown pe-3">
                <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                    <img src="~/img_add/@Model.Layquantrivien().ANHDD" alt="Profile" class="rounded-circle">
                    <span class="d-none d-md-block dropdown-toggle ps-2">@Model.Layquantrivien().TENTHANHVIEN</span>
                </a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                    <li class="dropdown-header">
                        <h6>@Model.Layquantrivien().TENTHANHVIEN</h6>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="/Admin/IndexAdmin/Thongtinquantrivien">
                            <i class="bi bi-person"></i>
                            <span>Thông tin của tôi</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="/Index/Index">
                            <i class="bi bi-person"></i>
                            <span>Trang chủ</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="/Admin/IndexAdmin/Dangxuat">
                            <i class="bi bi-box-arrow-right"></i>
                            <span>Đăng xuất</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</header>
<aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
            <a class="nav-link collapsed" href="/Admin/IndexAdmin/Index">
                <i class="bi bi-grid"></i>
                <span>Tổng quát</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="/Admin/Taobaiviet/Index">
                <i class="bi bi-layout-text-window-reverse"></i>
                <span>Tạo bài viết</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-layout-text-window-reverse"></i><span>Bài viết</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="tables-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                <li>
                    <a href="/Admin/BaivietAdmin/IndexBaivietDangduyet">
                        <i class="bi bi-circle"></i><span>Đang duyệt</span>
                    </a>
                </li>
                <li>
                    <a href="/Admin/BaivietAdmin/IndexBaivietTuchoi">
                        <i class="bi bi-circle"></i><span>Từ chối</span>
                    </a>
                </li>
                <li>
                    <a href="/Admin/BaivietAdmin/IndexBaivietChapnhan">
                        <i class="bi bi-circle"></i><span>Đã duyệt</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#tables-nav1" data-bs-toggle="collapse" href="#">
                <i class="bi bi-layout-text-window-reverse"></i><span>Bình luận</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="tables-nav1" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="/Admin/Binhluan/IndexBinhluanDangduyet">
                        <i class="bi bi-circle"></i><span>Đang duyệt</span>
                    </a>
                </li>
                <li>
                    <a href="/Admin/Binhluan/IndexBinhluanChapnhan">
                        <i class="bi bi-circle"></i><span>Đã duyệt</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-target="#tables-nav2" data-bs-toggle="collapse" href="#">
                <i class="bi bi-person"></i><span>Thành viên</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="tables-nav2" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="/Admin/Thanhvien/Index">
                        <i class="bi bi-circle"></i><span>Tất cả</span>
                    </a>
                </li>
                <li>
                    <a href="/Admin/Thanhvien/IndexTinnhan">
                        <i class="bi bi-circle"></i><span>Tin nhắn</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</aside>
<main id="main" class="main">
    <section class="section profile">
        <div class="row">
            <div class="col-xl-4">
                <div class="card">
                    <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

                        <img src="~/img_add/@Model.LaythanhvienMATV1.ANHDD" alt="Profile" class="rounded-circle">
                        <h2>@Model.LaythanhvienMATV1.TENTHANHVIEN</h2>
                        <div class="social-links mt-2">
                            <a href="@Model.LaythanhvienMATV1.TWITTER" class="twitter"><i class="bi bi-twitter"></i></a>
                            <a href="@Model.LaythanhvienMATV1.FACEBOOK" class="facebook"><i class="bi bi-facebook"></i></a>
                            <a href="@Model.LaythanhvienMATV1.INSTAGRAM" class="instagram"><i class="bi bi-instagram"></i></a>
                            <a href="@Model.LaythanhvienMATV1.LINKEDIN" class="linkedin"><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-8">
                <div class="card">
                    <div class="card-body pt-3">
                        <ul class="nav nav-tabs nav-tabs-bordered">
                            <li class="nav-item">
                                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Thông tin</button>
                            </li>
                        </ul>
                        <div class="tab-content pt-2">
                            <div class="tab-pane fade show active profile-overview" id="profile-overview">
                                <h5 class="card-title">Giới thiệu</h5>
                                <p class="small fst-italic">@Model.LaythanhvienMATV1.BIO</p>
                                <h5 class="card-title">Thông tin chi tiết</h5>
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label ">Họ và tên</div>
                                    <div class="col-lg-9 col-md-8">@Model.LaythanhvienMATV1.TENTHANHVIEN</div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Địa chỉ</div>
                                    <div class="col-lg-9 col-md-8">@Model.LaythanhvienMATV1.DIACHI</div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Số điện thoại</div>
                                    <div class="col-lg-9 col-md-8">@Model.LaythanhvienMATV1.SDT</div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Twitter</div>
                                    <div class="col-lg-9 col-md-8">@Model.LaythanhvienMATV1.TWITTER</div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Facebook</div>
                                    <div class="col-lg-9 col-md-8">@Model.LaythanhvienMATV1.FACEBOOK</div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Instagram</div>
                                    <div class="col-lg-9 col-md-8">@Model.LaythanhvienMATV1.INSTAGRAM</div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Linkedin</div>
                                    <div class="col-lg-9 col-md-8">@Model.LaythanhvienMATV1.LINKEDIN</div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Email</div>
                                    <div class="col-lg-9 col-md-8">@Model.LaythanhvienMATV1.EMAIL</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section dashboard">
        <div class="col-12">
            <div class="card top-selling">
                <div class="card-body pb-0">
                    <table class="table table-borderless">
                        <thead>
                            <tr>
                                <th scope="col">Hình ảnh</th>
                                <th scope="col">Tiêu đề</th>
                                <th scope="col">Số lượt thích</th>
                                <th scope="col">Số bình luận</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var baivietchapnhan in Model.LaybaivietMATV1)
                            {
                                <tr>
                                    <th scope="row"><a href="#"><img src="~/img_post/@baivietchapnhan.ANH1" alt="Không có"></a></th>
                                    <td><a href="/Admin/BaivietAdmin/Xembaiviet?MABAIDANG=@baivietchapnhan.MABAIDANG" class="text-primary fw-bold">@baivietchapnhan.TIEUDE</a></td>
                                    <td>@baivietchapnhan.SOLUOTTHICH</td>
                                    <td class="fw-bold">@baivietchapnhan.SOLUONGBINHLUAN</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</main>